*{
    margin:0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(179, 195, 239, 0) 10%, rgba(146, 156, 240, 0) 10%), url(hospital.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    

}

.navbar{
    width: 1200px;
    height:75px;
    margin:auto;
}
.icon{
    width: 200px;
    float:left;
    height: 70px;
}
.logo{
    color: rgb(7, 7, 51);
    font-size:35px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height:70px;

}
ul{
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: blueviolet;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;

}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(244, 244, 250);
    margin-top: 13px;
    color:white;
    border-right: none ;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn{
    width:100px;
    height: 40px;
    background: rgb(180, 214, 240);
    border: 2px solid  rgb(180, 214, 240);
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline:none;
}

.home {
    background-color: rgb(83, 76, 150);
    display: flex;
    align-items: centre;
    gap: 7 em;
    padding: 30px 12% 0;
    margin-left: 50px;
    width: fit-content;
    height: fit-content;
    margin: 50px;
    border-radius: 50px;
    font-size: small;

}

.home-content{
    max-width: 800px
}
.home-content h3{
    font-size: 62px;
    line-height: 1.2 ;
    color: aliceblue;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
    color: aliceblue;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
    padding: 30px;
}
.btn-1, .btn-2{
    padding: 15px;
    background-color: blueviolet;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 1 px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1, .btn-2:hover{
    background-color: rgb(51, 1, 69);
    color: black;
    border: 2px solid black;
}
.img-box img{
    border-radius: 50%;
    width: 300px;  
    height: 300px;  
    object-fit:cover;
    margin-top: 20px;
    margin-left: 30px;
}


.hidden {
    display: none;
}

#calendar {
    margin-top: 20px;
    border-radius: 10px;
}
.btn-1{
    padding: 10px 20px;
    background-color: #461471;
    color: white;
    border: none;
    cursor: pointer;
}

.timing-container{
    display: none;
    margin-top: 20px
}


