*{
    margin:0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(179, 195, 239, 0) 10%, rgba(146, 156, 240, 0) 10%), url(hospital.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height:75px;
    margin:auto;
}
.icon{
    width: 200px;
    float:left;
    height: 70px;
}
.logo{
    color: rgb(7, 7, 51);
    font-size:35px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height:70px;

}
ul{
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: blueviolet;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;

}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(244, 244, 250);
    margin-top: 13px;
    color:white;
    border-right: none ;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width:100px;
    height: 40px;
    background: rgb(180, 214, 240);
    border: 2px solid  rgb(180, 214, 240);
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.btn:focus{
    outline: none;
}
.srch:focus{
    outline:none;
}
.box{
    background-color: rgba(159, 96, 186, 0.95);
    width: 800px;
    height: 400px;
    margin:  0 auto;
    margin-top: 30px;
    border-radius: 30px;
}
.feedback-box h2{
    padding-bottom: 20px;
    color:rgb(24, 4, 67);
    margin-left: 30px;
    margin-top: 30px;
    padding-top: 20px;
}
.feedback-box p{
    color: rgb(24, 4, 67);
    margin-left: 10px;
    padding-left: 20px;
}
#feedbackText{
    margin-top: 30px;
    margin-left: 30px;
    padding: 50px;
    height: 25px;
    width: 650px;
}
input[type="button"] {
    background-color: #3c0854; /* Green background */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }