
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top,rgba(179, 195, 239, 0) 10%, rgba(146, 156, 240, 0) 10%), url(modify_bg.jpg);
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #eaeff8;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  label,
  input,
  select {
    margin-bottom: 10px;
    color: #040b3e;
    font-size: larger;
    font-family:'Times New Roman', Times, serif
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #094181;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #040b3e;
  }
  
  .btn-danger {
    background-color: #610a03;
  }
  
  .btn-danger:hover {
    background-color: #310100;
  }
  
  .btn-clear {
    background-color:7#094181;
  }
  
  .btn-clear:hover {
    background-color: #094181;
  }
  