body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image:url(hospital.jpg);
    margin: 10;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-panel {
    background-color: #f0ddf5;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(5, 0, 76, 0.1);
    width: 300px;
}

.login-panel h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color:  #410544;
    text-align: center;
}

.login-panel input[type="text"],
.login-panel input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-panel input[type="submit"] {
    width: 107%;
    padding: 10px;
    background-color: #2d047e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-panel input[type="submit"]:hover {
    background-color: #49044d;
}

.login-panel p {
    margin-top: 15px;
    text-align: center;
    color: #666;
}

.login-panel a {
    color: #410544;
    text-decoration: none;
}

.login-panel a:hover {
    text-decoration: underline;
}
